{%extends 'base.html'%}

{%block title%}
  {{ title }} :: {{ block.super}}
{%endblock%}


{% block content %}
    {% for item in pictures %}
      <div class="card-header">
        {{ forloop.counter }}
        Author: {{ item.author }}
      </div>

      <div class="card-body">
        <div class="media">

            {% if item.photo%}
                <a href="{% url 'show_user_picture' pk=item.pk %}">
                    <img src="{{ item.photo.url }}" alt="" width="350">
                </a>
            {% else%}
                <img src="https://picsum.photos/id/237/200/300" alt="" width="350">
            {% endif %}

        </div>
      <div class="card-footer text-muted">
        {{ item.created_at|date:"Y-m-d H:i:s" }}
        {{ item.created_at|timesince }}
      </div>
      </div>
    {% endfor %}

{%endblock%}


